.about_project {
  background: #18191b;
  padding: 0px 0 60px 0;
}

.content_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  width: 100%;
}
.inner_about_project h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin: 0px;
  background: #262728;
  padding: 15px 16px;
  border-radius: 16px 16px 0 0;
}
.inner_about_project {
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 16px 16px 0 0;
}
.content {
  padding: 16px 16px;
}
.content p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 28px;
}
.content p strong {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.content p span {
  display: block;
  position: relative;
  margin-top: 14px;
  padding-left: 36px;
}
.content p span .avtr {
  position: absolute;
  left: 0;
  top: 0;
}
.l_inks ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.5;
}
.l_inks ul {
  list-style: none;
  padding: 15px 0 0 0px;
}
.l_inks ul li {
  margin-bottom: 4px;
}
.l_inks ul li a:hover {
  color: #d37506;
  opacity: 1;
}





@media (max-width: 768px) {
  .pool_grid {
    grid-template-columns: auto;
    grid-gap: 25px;
  }
  .banner h1 {
    font-size: 35px;
  }
  .navi_gation .gen_btn {
    padding: 10px 10px;
    min-width: 68px;
    font-size: 10px;
    line-height: 10px;
  }
  .navi_gation .gen_btn.btn_white {
    margin-right: 2px;
  }
  .inner_pool_details {
    grid-template-columns: auto;
  }
  .content_grid {
    grid-template-columns: auto;
  }
}
@media (max-width: 460px) {
  .logo img {
    width: 100%;
  }
  .inner_header {
    grid-template-columns: 130px auto;
  }
  .ti_tle {
    grid-template-columns: 65px auto;
  }
  .ti_tle img {
    background: #fff;
    border-radius: 6px;
    width: 73%;
  }
}
@media (max-width: 385px) {
  .navi_gation .gen_btn {
    padding: 4px 5px;
    font-size: 9px;
  }
  .navi_gation {
    display: grid;
    grid-gap: 4px;
  }
  .logo img {
    max-width: 130px;
  }
  .inner_header {
    grid-template-columns: auto 110px;
  }
}

